@import url('https://fonts.googleapis.com/css2?family=Geist+Pixel&display=swap');
@import "tailwindcss";

:root {
  --background: #FDF6ED;
  --foreground: #778873;
  --palette-1: #778873;
  --palette-2: #A1BC98;
  --palette-3: #DCCFC0;
  --palette-4: #FDF6ED;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #FDF6ED;
    --foreground: #778873;
  }
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 80px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Geist Pixel";
}
